<div class="add-to-the-day" id="add-to-the-day">
  <div class="row">
    <div class="twelve columns">
      <h3>&num;jessplusaaron</h3>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <p>
        <a href="https://www.facebook.com/hashtag/jessplusaaron" target="_blank" title="Facebook &num;jessplusaaron">
          <i class="fa fa-facebook" id="gallery"></i>
        </a>
        <a href="https://www.instagram.com/explore/tags/jessplusaaron/" target="_blank" title="Instagram &num;jessplusaaron">
          <i class="fa fa-instagram" id="gallery"></i>
        </a>
        <a href="https://twitter.com/hashtag/jessplusaaron" target="_blank" title="Twitter &num;jessplusaaron">
          <i class="fa fa-twitter" id="gallery"></i>
        </a>
      </p>
    </div>
  </div>
</div>
