<footer class="row">
  <div class="twelve columns">
    <p>If you have any problems with our website you may contact Aaron at <strong><a href="mailto:aaron@iamaaron.com" title="aaron@iamaaron.com">aaron@iamaaron.com</a></strong>.</p>
    <p class="disclaimer">2016 Jessica Sims &amp; Aaron Brewer. All rights reserved.</p>
  </div>
</footer>
