<div class="row" id="photo-gallery">
  <div class="twelve columns gallery desktop"
       data-parallax="scroll"
       data-image-src="https://s3.amazonaws.com/jessplusaaron/assets/images/gallery.jpg">
    <h3 id="gallery-desktop">
      <i class="fa fa-photo"></i><br>
      Photo<br>
      Gallery
    </h3>
  </div>
  <div class="twelve columns gallery mobile"
       data-parallax="scroll"
       data-image-src="https://s3.amazonaws.com/jessplusaaron/assets/images/gallery-mobile.jpg">
    <h3 id="gallery-mobile">
      <i class="fa fa-photo"></i><br>
      Photo<br>
      Gallery
    </h3>
  </div>
</div>
