<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jessica Sims &amp; Aaron Brewer Tie the Knot on June 18th, 2016</title>
    <meta name="description" content="Jessica Sims and Aaron Brewer are celebrating the rest of their lives together on June 18th, 2016. Come join them!">
    <meta name="author" content="Aaron Brewer" />
    <meta name="keywords" content="aaron,brewer,jessica,sims,married,marriage,wedding,knot,tie,the,june,18th,2016,hillsboro,south,county,holiday,inn,bill,sue,love,marry">
    <meta name="copyright" content="2016" />
    <meta name=”robots” content=”noodp” />
    <meta name=”robots” content=”noydir” />
    <meta property="og:title" content="Jessica Sims and Aaron Brewer Tie the Knot on June 18th, 2016" />
    <meta property="og:image" content="http://s3.amazonaws.com/jessplusaaron/assets/images/social/facebook-knot.jpg" />
    <meta property="og:url" content="http://jessplusaaron.com/" />
    <meta property="og:description" content="Jessica Sims and Aaron Brewer are celebrating the rest of their lives together on June 18th, 2016. Come join them!" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Jessica Sims and Aaron Brewer Tie the Knot on June 18th, 2016" />
    <meta name="twitter:description" content="Jessica Sims and Aaron Brewer are celebrating the rest of their lives together on June 18th, 2016. Come join them!" />
    <meta name="twitter:image" content="http://s3.amazonaws.com/jessplusaaron/assets/images/social/facebook-knot.jpg" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#4C1F48">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#4C1F48">
    <meta name="application-name" content="Jess Plus Aaron"/>
    <link rel="shortcut icon" href="http://jessplusaaron.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
