<div class="row">
  <header class="twelve columns header">
    <p>
      <i class="fa fa-bell"></i>
      Save the Dates and Wedding Invitations have been sent out!
    </p>
    <h1>Aaron <strong>&amp;</strong> Jessica</h1>
    <h2>Brewer&#124;Sims</h2>
  </header>
</div>
