<div class="row">
  <div class="twelve columns knot"
       data-parallax="scroll"
       data-image-src="https://s3.amazonaws.com/jessplusaaron/assets/images/knot.jpg">
    <h3>
      Tie<br>
      the<br>
      Knot<br>
    </h3>
    <h4>June 18th, 2016</h4>
  </div>
</div>
