<div class="locations" id="location-and-details">
  <div class="row">
    <div class="twelve columns details">
      <h5>Ceremony</h5>
      <p class="address">
        <a href="http://maps.google.com/?q=9500 Sandy Church Road, Hillsboro, MO 63050"
           target="_blank"
           title="Bill &amp; Sues Barn">
          Bill &amp; Sue's Barn<br>
          9500 Sandy Church Road<br>
          Hillsboro, MO 63050<br>
        </a>
        <strong>
          <i class="fa fa-calendar"></i>
          6/18/2016
          <i class="fa fa-clock-o"></i>
          4:00 PM
        </strong>
      </p>
      <p>Parking will be provided at <strong>Sandy Baptist Church</strong>, which will be up the road. Guests will be shuttled from Sandy Baptist Church to the ceremony.</p>
      <p class="address">
        <a href="http://maps.google.com/?q=9331 Sandy Church Rd, Hillsboro, MO 63050"
           target="_blank"
           title="Sandy Baptist Church">
          Sandy Baptist Church<br>
          9331 Sandy Church Rd<br>
          Hillsboro, MO 63050<br>
        </a>
        <strong>
          <i class="fa fa-calendar"></i>
          6/18/2016
          <i class="fa fa-clock-o"></i>
          3:00 PM
        </strong>
      </p>
      <p>Seating will be provided. There will be <strong>no air conditioning or public restrooms available</strong>.</p>
      <p><strong>In case of inclement weather, the backup location for the ceremony will be at <strong>Hillsboro Christian Church</strong>.</p>
      <p class="address">
        <a href="http://maps.google.com/?q=4865 State Hwy B, Hillsboro, MO 63050"
           target="_blank"
           title="Hillsboro Christian Church">
          Hillsboro Christian Church<br>
          4865 State Hwy B<br>
          Hillsboro, MO 63050<br>
        </a>
        <strong>Backup</strong>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns photo desktop"
         data-parallax="scroll"
         data-image-src="https://s3.amazonaws.com/jessplusaaron/assets/images/locations/ceremony-bill-and-sues-barn.jpg"></div>
    <div class="twelve columns photo mobile"
         data-parallax="scroll"
         data-image-src="https://s3.amazonaws.com/jessplusaaron/assets/images/locations/ceremony-bill-and-sues-barn-mobile.jpg"></div>
  </div>
  <div class="row">
    <div class="twelve columns details">
      <h5>Reception</h5>
      <p class="address">
        <a href="http://maps.google.com/?q=6921 South Lindbergh Blvd, St. Louis, MO 63125"
           target="_blank"
           title="Holiday Inn, St. Louis-South County Center">
          Holiday Inn, St. Louis-South County Center<br>
          6921 South Lindbergh Blvd<br>
          St. Louis, MO 63125<br>
        </a>
        <strong>
          <i class="fa fa-calendar"></i>
          6/18/2016
          <i class="fa fa-clock-o"></i>
          7:00 PM
          <i class="fa fa-beer"></i>
          <em>Open Bar</em> 8:00 PM - 11:00 PM
        </strong>
      </p>
      <p>Parking will be provided around the building and in the adjacent parking lot to accommodate
         our guests.</p>
      <p>
        <strong>Holiday Inn will also be offering discounts for rooms per attending guests.</strong>
        Reservations may be made by calling the hotel directly at (314) 892-3600 and requesting <strong>"in-house"</strong>
        reservations. It is important that each of guest identify themselves as part of the Sims &amp; Brewer
        group, and provide us with guest name, requested type of room (i.e. king with sofa sleeper or double queen),
        check-in and check-out dates and a credit or debit card to guarantee the room. Reservations must be received by
        05/19/2016; thereafter, reservations will be taken on a space and rate available basis only.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns photo desktop"
         data-parallax="scroll"
         data-image-src="https://s3.amazonaws.com/jessplusaaron/assets/images/locations/reception-holiday-inn-south-county.jpg"></div>
    <div class="twelve columns photo mobile"
         data-parallax="scroll"
         data-image-src="https://s3.amazonaws.com/jessplusaaron/assets/images/locations/reception-holiday-inn-south-county-mobile.jpg"></div>
  </div>
</div>
