<div class="row" id="mobile-navigation">
  <nav class="twelve columns" role="navigation">
    <a href="javascript:;" id="exit">
      <i class="fa fa-close"></i> Close
    </a>
    <ul>
      <li>
        <a href="#our-story" title="Our Story">Our Story</a>
      </li>
      <li>
        <a href="#photo-gallery" title="Photo Gallery">Photo Gallery</a>
      </li>
      <li>
        <a href="#location-and-details" title="Location &amp; Details">Location &amp; Details</a>
      </li>
      <li>
        <a href="#rsvp" title="RSVP">RSVP</a>
      </li>
      <li>
        <a href="#registry" title="Registry">Registry</a>
      </li>
      <li>
        <a href="#the-day" title="Add to the Day">Add to the Day</a>
      </li>
    </ul>
  </nav>
</div>
