<div class="row">
  <nav class="twelve columns navigation" role="navigation">
    <ul>
      <li>
        <a href="#our-story" title="Our Story">Our Story</a>
      </li>
      <li>
        <a href="#photo-gallery" title="Photo Gallery">Photo Gallery</a>
      </li>
      <li>
        <a href="#location-and-details" title="Location &amp; Details">Location &amp; Details</a>
      </li>
      <li>
        <a href="#rsvp-container" title="RSVP">RSVP</a>
      </li>
      <li>
        <a href="#registry" title="Registry">Registry</a>
      </li>
      <li>
        <a href="#add-to-the-day" title="Add to the Day">Add to the Day</a>
      </li>
    </ul>
    <a href="javascript:;" id="menu">
      <i class="fa fa-bars"></i> Menu
    </a>
  </nav>
</div>
