<div class="registry" id="registry">
  <div class="row">
    <div class="twelve columns">
      <h5>Registry</h5>
    </div>
  </div>
  <div class="row">
    <a href="http://www.target.com/gift-registry/registry/xKYt3hwfZn5J4d_Rzrcu3w?lnk=copiedLink" title="Target" class="six columns" target="_blank">
      <img src="images/registry/target.svg" alt="Target" />
    </a>
    <a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=543212952&eventType=Wedding&pwsurl=?mcid=EM_triggeredem_emailregistryplural__allpromos" title="Bed, Bath, and Beyond" class="six columns" target="_blank">
      <img src="images/registry/bed-bath-and-beyond.svg" alt="Bed, Bath, &amp; Beyond" />
    </a>
  </div>
</div>
