<div class="row" id="rsvp-container">
  <div class="twelve columns rsvp">
    <h5>RSVP</h5>
    <p>Please <strong>RSVP</strong> per your attendance using the form below. <em>Please only RSVP if you received an
      invitation.</em> This form will close on May 28th, 2016.</p>
    <form id="rsvp" method="post" action="data/rsvp/">
      <div class="row">
        <div class="four columns">
          <label for="fullName">Full Name <i class="fa fa-asterisk"></i></label>
          <input class="u-full-width"
                 type="text"
                 id="fullName"
                 name="fullName"
                 placeholder="John Smith"
                 required>
        </div>
        <div class="four columns">
          <label for="phoneNumber">Phone Number <i class="fa fa-asterisk"></i></label>
          <input class="u-full-width"
                 id="phoneNumber"
                 name="phoneNumber"
                 type="tel"
                 placeholder="(636) 867-5309"
                 required />
        </div>
        <div class="four columns">
          <label for="email">E-Mail Address</label>
          <input class="u-full-width"
                 type="email"
                 id="email"
                 name="email"
                 placeholder="john@smiths.com">
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <label for="address">Address <i class="fa fa-asterisk"></i></label>
          <input class="u-full-width"
                 type="text"
                 name="address"
                 id="address"
                 placeholder="1234 Smith Drive, St. Louis, MO 63301"
                 required></textarea>
        </div>
        <div class="three columns">
          <label for="attending">Attending? <i class="fa fa-asterisk"></i></label>
          <select class="u-full-width"
                  id="attending"
                  name="attending"
                  required>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
        <div class="three columns plus-one-control">
          <label for="plusone">Guest <i class="fa fa-asterisk"></i></label>
          <select class="u-full-width"
                  id="plusone"
                  name="plusone"
                  required>
            <option value="No">No Plus One</option>
            <option value="Plus One">Plus One</option>
            <option value="Family Member">Family Member</option>
          </select>
        </div>
      </div>
      <div class="row plus-one">
        <div class="five columns">
          <label for="plusonename">Name of Plus One</label>
          <input class="u-full-width"
                 type="text"
                 id="plusonename"
                 name="plusonename">
        </div>
      </div>
      <div class="row family-member">
        <div class="five columns">
          <label for="familymember1name">Name of First Family Member</label>
          <input class="u-full-width"
                 type="text"
                 id="familymember1name"
                 name="familymember1name">
          <a href="javascript:;" class="addFamilyMember" data-member="0">
            <i class="fa fa-plus" id="gallery"></i>
            Add another Family Member
          </a>
        </div>
      </div>
      <div class="row family-member">
        <div class="five columns">
          <label for="familymember2name">Name of Second Family Member</label>
          <input class="u-full-width"
                 type="text"
                 id="familymember2name"
                 name="familymember2name">
          <a href="javascript:;" class="addFamilyMember" data-member="1">
            <i class="fa fa-plus" id="gallery"></i>
            Add another Family Member
          </a>
        </div>
      </div>
      <div class="row family-member">
        <div class="five columns">
          <label for="familymember3name">Name of Third Family Member</label>
          <input class="u-full-width"
                 type="text"
                 id="familymember3name"
                 name="familymember3name">
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <button class="button-primary" type="submit">Submit RSVP</button>
        </div>
        <div class="nine columns">
          <p id="rsvp-messages"></p>
        </div>
      </div>
    </div>
  </form>
</div>
