<div class="row" id="our-story">
  <div class="twelve columns story">
    <h4>Our Story</h4>
    <p>
      <em>&quot;Therefore shall a man leave his father and his mother, and shall cleave unto his wife:
      and they shall be one flesh.&quot;</em>
      <strong>&#8212; Genesis 2&#58;24</strong>
    </p>
    <p>
      June 2014 brought an introduction to the most beautiful covenant conceived to this day. It is said that love is a
      trait acquired over time. Time has no meaning, nor does it impose, on this great partnership.
    </p>
    <p>
      1976, a ten-year old Shawn Boulicault moves to Pevely, MO. The beginning of an everlasting friendship awaited for
      her at her new school, shared with Donna White. A friendship consisting of countless walks home, sleepovers, a
      tragic passing in Shawn's family, among many other pivotal memories, are what sealed a magnificent bond between
      the two.
    </p>
    <p>
      Shawn and Donna said good-bye to their high school days, when Shawn married Jeffrey Brewer and Donna married
      Kenneth Sims. Immediately after marriage, Shawn moved to St. Charles with Jeffrey. A friendship founded in fifth
      grade would echo throughout eternity, not limited to location.
    </p>
    <p>
      Eventually both families found their way to Hillsboro. Completely unaware of the others presence, Jessica and
      Aaron found themselves living five minutes away from each other, attending the same high school, participating
      in the same after-school activities, and often going to one another's work place.
    </p>
    <p>
      After years of barely missing each other, Jessica and Aaron's paths finally crossed. An impromptu midnight swim
      amongst mutual acquaintances launched a friendship between the two. A friendship that would quickly evolve into
      something much more.
    </p>
    <p>
      As time went on Jessica and Aaron swiftly realized that their romantic relationship was destined for eternal
      happiness. Thus leading the two to a much desired proposal.
    </p>
    <p>
      On September 13th, 2015, Aaron had decided that the moment was right to ask Jessica for her hand in marriage. The
      two spent an entire day together consisting of events from their favorite dates, including: a trip to the St.
      Louis Art Museum, lunch at Gulf Shores sea food, go-karts in St. Charles, dinner on the balcony of Lewis and
      Clark's Restaurant overlooking the Missouri river, ice cream at Kilwin's, and a life changing sunset walk. Whilst
      walking on the bank, Aaron and Jessica spotted a log that lead out to the river and  felt compelled to climb
      together. When Jessica reached the end of the log and turned around, Aaron was awaiting on one knee, ring in hand,
      and with endearment asked Jessica to be his wife.
    </p>
    <p>
      June 18th, 2016 Jessica and Aaron form a convenant by God. A convenant that is unbreakable. A covenant that
      thrives beyond physical, mental, and emotional state. A covenant that will ripple throughout eternity. As it
      is written...
    </p>
    <p>
      <em>&quot;I will commit myself to you forever; I will commit myself to you in righteousness and justice, in steadfast love and tender compassion.&quot;</em>
      <strong>&#8212; Hosea 2&#58;19</strong>
    </p>
  </div>
</div>
