.add-to-the-day {
  background: @plum;
  color: @white;
  text-align: center;
  padding: 64px 0;
  h3 {
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    margin: 0;
    font-size: 4rem;
    line-height: 6rem;
    color: @white;
  }
  a {
    color: @white;
    font-size: 6rem;
    line-height: 9rem;
    padding: 0 24px;
    &:last-child {
      padding: 0 0 0 24px;
    }
    &:hover {
      color: @pink;
    }
  }
}
@media only screen and (max-width : 992px) {
  .add-to-the-day {
    h3 {
      font-size: 3rem;
      line-height: 5rem;
    }
  }
}
@media only screen and (max-width : 480px) {
  .add-to-the-day {
    padding: 32px 0;
  }
}
