footer {
  background: @white;
  color: @black;
  text-align: center;
  padding: 32px 30%;
  p {
    padding: 0;
    line-height: 4rem;
    &.disclaimer {
      font-size: 1.5rem;
    }
  }
}
@media only screen and (max-width : 992px) {
  footer {
    padding: 32px 20%;
  }
}
@media only screen and (max-width : 768px) {
  footer {
    padding: 32px 10%;
  }
}
@media only screen and (max-width : 480px) {
  footer {
    padding: 32px 10%;
    p {
      font-size: 1.7rem;
      line-height: 3.7rem;
      &.disclaimer {
        font-size: 1.25rem;
      }
    }
  }
}
