.gallery {
  .background-size(cover);
  text-align: center;
  padding: 128px 0;
  h3 {
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    margin: 0;
    font-size: 96px;
    line-height: 96px;
    color: @white;
    cursor: pointer;
  }
}
@media only screen and (max-width : 992px) {
  .gallery {
    padding: 64px 0;
    h3 {
      font-size: 76px;
      line-height: 76px;
    }
  }
}
@media only screen and (max-width : 768px) {
  .gallery {
    h3 {
      font-size: 62px;
      line-height: 62px;
    }
  }
}
@media only screen and (max-width : 480px) {
  .gallery {
    padding: 32px 0;
    h3 {
      font-size: 48px;
      line-height: 48px;
    }
  }
}
