.header {
  background: @white;
  color: @black;
  text-align: center;
  h1, h2 {
    text-transform: uppercase;
    font-weight: 700;
  }
  h1 {
    padding: 32px 0 1rem;
    letter-spacing: 2px;
    font-size: 62px;
    strong {
      font-family: 'Abril Fatface', cursive;
      font-weight: 400;
      color: @plum;
      font-size: 84px;
    }
  }
  h2 {
    letter-spacing: 32px;
    padding: 0 0 32px;
    font-size: 24px;
    color: @gray;
  }
  p {
    background: @plum;
    color: @white;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}
@media only screen and (max-width : 1024px) {
  .header {
    p {
      background: @cream;
      color: @black;
      text-align: center;
      font-size: 1.5rem;
      padding: 0.5rem;
    }
  }
}
@media only screen and (max-width : 992px) {
  .header {
    h1 {
      font-size: 48px;
      padding: 24px 0 0.5rem;
      strong {
        font-size: 62px;
      }
    }
    h2 {
      font-size: 18px;
      letter-spacing: 28px;
    }
  }
}
@media only screen and (max-width : 768px) {
  .header {
    h1 {
      font-size: 42px;
    }
  }
}
@media only screen and (max-width : 480px) {
  .header {
    h1 {
      font-size: 30px;
      padding: 24px 0 0.5rem;
      letter-spacing: 1px;
      strong {
        font-size: 48px;
      }
    }
    h2 {
      font-size: 16px;
      letter-spacing: 14px;
    }
  }
}
