.knot {
  .background-size(cover);
  text-align: center;
  padding: 128px 0;
  h3, h4 {
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    margin: 0;
  }
  h3 {
    font-size: 156px;
    line-height: 156px;
    color: @white;
  }
  h4 {
    font-size: 64px;
    line-height: 64px;
    color: @black;
  }
}
@media only screen and (max-width : 992px) {
  .knot {
    padding: 64px 0;
    h3 {
      font-size: 128px;
      line-height: 128px;
    }
    h4 {
      font-size: 46px;
      line-height: 46px;
    }
  }
}
@media only screen and (max-width : 768px) {
  .knot {
    padding: 64px 0;
    h3 {
      font-size: 102px;
      line-height: 102px;
    }
    h4 {
      font-size: 32px;
      line-height: 32px;
    }
  }
}
@media only screen and (max-width : 480px) {
  .knot {
    padding: 32px 0;
    h3 {
      font-size: 64px;
      line-height: 64px;
    }
    h4 {
      font-size: 28px;
      line-height: 28px;
      color: @cream;
    }
  }
}
