.locations {
  text-align: center;
  .photo {
    padding: 234px 0;
  }
  .details, .backup {
    padding: 64px 30%;
    background: @white;
    color: @black;
    h5 {
      font-size: 4rem;
      font-style: italic;
      text-align: center;
      text-transform: lowercase;
      padding: 0 0 2.5rem;
    }
    p {
      padding: 0 0 2rem;
      margin: 0 auto;
      line-height: 4rem;
      &:last-child {
        padding: 0;
      }
      &.address {
        margin: 0 auto 2rem;
        padding: 2rem 0;
        border-bottom: 1px dashed @black;
        border-top: 1px dashed @black;
        &:last-child {
          margin: 0 auto;
        }
      }
      a {
        font-weight: 700;
      }
    }
  }
}
@media only screen and (min-width : 1025px) and (max-width : 1280px) {
  .locations {
    .details, .backup {
      padding: 64px 20%;
    }
  }
}
@media only screen and (min-width : 993px) and (max-width : 1024px) {
  .locations {
    .details, .backup {
      padding: 64px 20%;
    }
  }
}
@media only screen and (max-width : 992px) {
  .locations {
    .photo {
      padding: 164px 0;
    }
    .details, .backup {
      padding: 64px 20%;
      h5 {
        font-size: 3rem;
      }
    }
  }
}
@media only screen and (max-width : 768px) {
  .locations {
    .photo {
      padding: 164px 0;
    }
    .details, .backup {
      padding: 64px 10%;
      h5 {
        font-size: 3rem;
      }
    }
  }
}
@media only screen and (max-width : 480px) {
  .locations {
    .photo {
      padding: 96px 0;
    }
    .details, .backup {
      padding: 32px 10%;
      p {
        font-size: 1.7rem;
        line-height: 3.7rem;
      }
    }
  }
}
