.registry {
  padding: 0 20% 64px;
  background: @white;
  color: @black;
  h5 {
    font-size: 4rem;
    font-style: italic;
    text-align: center;
    text-transform: lowercase;
    margin: 0 auto 3rem;
    padding: 0 0 2.5rem;
    width: 65%;
    border-bottom: 1px dashed @black;
  }
  a {
    display: block;
    img {
      height: auto;
      max-width: 100%;
      width: 100%;
    }
  }
}
@media only screen and (max-width : 992px) {
  .registry {
    padding: 0 15% 64px;
    h5 {
      font-size: 3rem;
    }
  }
}
@media only screen and (max-width : 768px) {
  .registry {
    padding: 0 10% 64px;
  }
}
@media only screen and (max-width : 480px) {
  .registry {
    padding: 0 10% 32px;
    a {
      padding: 0 0 18px;
      &:last-child {
        padding: 0;
      }
    }
  }
}
