.rsvp {
  padding: 64px 20%;
  background: @white;
  color: @black;
  h5 {
    font-size: 4rem;
    font-style: italic;
    text-align: center;
    text-transform: lowercase;
    margin: 0 auto 2rem;
    padding: 0 0 2.5rem;
    width: 65%;
    border-bottom: 1px dashed @black;
  }
  p {
    text-align: center;
    padding: 0 0 2rem;
    margin: 0 auto;
    line-height: 4rem;
    &:last-child {
      padding: 0;
    }
  }
  .error, .success {
    padding: 1rem 1rem 2rem;
    text-align: center;
  }
  .error {color: @pink;}
  .success {color: @plum;}
  form {
    margin: 0;
    label, input, select, option, button {
      font-weight: 400;
      font-size: 2rem;
      &::placeholder {
        color: @gray;
      }
    }
    input, select {
      background: @cream;
      border: none;
    }
    button {
      font-size: 1.5rem;
      font-weight: 700;
      background: @plum;
      border: none;
      margin-top: 10px;
      .transition(all, 0.50s, ease);
      &:hover {
        background: @cream;
        color: @plum;
      }
    }
  }
  .plus-one, .family-member {
    display: none;
  }
  a {
    padding: 0 0 2rem;
    display: block;
    &:hover {
      color: @black;
    }
  }
}
@media only screen and (max-width : 992px) {
  .rsvp {
    padding: 64px 15%;
    h5 {
      font-size: 3rem;
    }
  }
}
@media only screen and (min-width : 481px) and (max-width : 768px) {
  .rsvp {
    padding: 64px 10%;
    .column, .columns {
      width: 100%;
      margin-left: 0;
    }
  }
}
@media only screen and (max-width : 480px) {
  .rsvp {
    padding: 32px 10%;
    p, a {
      font-size: 1.7rem;
      line-height: 3.7rem;
      padding: 0;
    }
    form {
      label, input, select, option, button {
        font-size: 1.7rem;
        line-height: 3.7rem;
      }
      button {
        width: 100%;
      }
    }
  }
}
