.story {
  padding: 64px 30%;
  background: @white;
  color: @black;
  h4 {
    font-size: 4rem;
    font-style: italic;
    text-align: center;
    text-transform: lowercase;
    padding: 0 0 2.5rem;
    margin: 0 0 2rem;
    border-bottom: 1px dashed @black;
  }
  p {
    padding: 0 0 3rem;
    line-height: 4rem;
    &:last-child {
      padding: 0;
    }
  }
}
@media only screen and (min-width : 1025px) and (max-width : 1280px) {
  .story {
    padding: 64px 20%;
  }
}
@media only screen and (min-width : 993px) and (max-width : 1024px) {
  .story {
    padding: 64px 20%;
  }
}
@media only screen and (max-width : 992px) {
  .story {
    padding: 64px 20%;
    h4 {
      font-size: 3rem;
    }
  }
}
@media only screen and (max-width : 768px) {
  .story {
    padding: 64px 10%;
    h4 {
      font-size: 3rem;
    }
  }
}
@media only screen and (max-width : 480px) {
  .story {
    padding: 32px 10%;
    p {
      font-size: 1.7rem;
      line-height: 3.7rem;
    }
  }
}
