.transition(@property, @duration, @transition) {
  transition:  @property @duration @transition;
  -webkit-transition: @property @duration @transition;
  -moz-transition:  @property @duration @transition;
  -ms-transition:  @property @duration @transition;
  -o-transition:  @property @duration @transition;
}
.background-size(@size) {
  background-size: @size;
  -webkit-background-size: @size;
  -moz-background-size: @size;
  -o-background-size: @size;
}
.border-radius(@dimensions) {
  border-radius: @dimensions;
  -webkit-border-radius: @dimensions;
  -moz-border-radius: @dimensions;
}
