body {
  font-family: 'Old Standard TT', serif;
  font-size: 20px;
  background: @white;
  color: @black;
  padding: 100px 0 0;
}
a {
  color: @plum;
  text-decoration: none;
  .transition(all, 0.50s, ease);
  &:hover {
    color: @pink;
  }
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
::-moz-selection {
  color: @white;
  background: @plum;
}
::selection {
  color: @white;
  background: @plum;
}
a.back-to-top {
  bottom: 0;
  right: 0;
  position: fixed;
  background: @plum;
  font-size: 1.5rem;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: @white;
  &:hover {
    background: @cream;
    color: @plum;
  }
}
.desktop {
  display: block;
}
.mobile {
  display: none;
}
#mobile-navigation {
  display: none;
}
@media only screen and (max-width : 1024px) {
  body {
    padding: 75px 0 0;
  }
}
@media only screen and (max-width : 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
