#mobile-navigation {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: @plum;
  text-align: center;
  nav {
    ul {
      list-style: none inside;
      text-align: center;
      margin: 0;
      display: block;
      li {
        margin: 0;
        font-size: 18px;
        font-style: italic;
        font-weight: 700;
        text-transform: lowercase;
        a {
          color: @white;
          background: @plum;
          display: block;
          padding: 18px 10%;
          margin: 0 auto;
        }
      }
    }
    > a {
     background: @plum;
     color: @white;
     display: block;
     padding: 22px 24px;
     border-bottom: 5px solid @white;
   }
  }
}
