.navigation {
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  background: @white;
  text-align: center;
  ul {
    list-style: none inside;
    text-align: center;
    margin: 0;
    display: block;
    li {
      margin: 0;
      display: inline-block;
      font-size: 18px;
      font-style: italic;
      font-weight: 700;
      text-transform: lowercase;
      a {
        color: @black;
        display: inline-block;
        padding: 36px 24px;
        margin: 0;
        &:hover {
          color: @white;
          background: @plum;
        }
      }
    }
  }
  > a {
    display: none;
  }
}
@media only screen and (max-width : 1024px) {
  .navigation {
    height: 75px;
    ul {
      display: none;
    }
    a {
      background: @plum;
      color: @white;
      display: block;
      padding: 22px 24px;
    }
  }
}
